.loader .Loader-text {
    letter-spacing: .5em;
    font-size: .6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: pulse .9s ease infinite;
}

@keyframes pulse {
    50% {
        opacity: 0;
    }
}