.Pokemon-hero-img {
    width: 100%;
    height: calc(100vh - 156px);
}

.hero-btn {
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

.hero-btn:visited {
    color: black;
}

@media (min-width: 768px) {
    .hero-btn {
        top: 0;
        left: 0;
        bottom: unset;
        width: 49%;
    }
}