body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;
}

body, button, input {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Flex-row {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
}

.Flex-2 {
  flex-direction: column-reverse;
}

.Col {
  position: relative;
}

.margin-left-10 {
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.subheading {
  margin-left: 20px;
  position: relative;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: .1em;
}

.subheading::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  right: 0;
  height: 0.5em;
  width: 65px;
  border-top: 5px solid red;
  z-index: -1;
}

.btn {
  border: 0;
  padding: 8px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: .2em;
}

.btn-primary {
  background-color: deepskyblue;
}

.btn-success {
  background-color: yellowgreen;
}

.btn-alert {
  background-color: red;
  color: white;
}

.Info-block {
  background-color: yellowgreen;
  padding: 20px;
  border-radius: 8px;
}

.overlay {
  height: calc(100vh - 156px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .Flex-row {
    flex-direction: row;
  }
  .Flex-row>.Col {
    margin: 0 15px 16px 0;
  }
  .Flex-row>.Col:last-child {
    margin-right: 0;
  }
  .Flex-3>.Col {
    width: calc(100%/3 - 15px);
  }
  .Flex-2 {
    flex-direction: row;
  }
  .Flex-2>.Col {
    flex-grow: 1;
    flex-basis: calc(50% - 15px);
  }
  .Flex-1>.Col {
    flex-grow: 1;
  }
  .text-left-md {
    text-align: left;
  }
  .float-left-md {
    float: left;
  }
  .margin-top-em1 {
    margin-top: 1em;
  }
}
